
h1 {
color: #6610f2;
}

h2 {
margin-top: 0.5em;
color: #6610f2;
}

a {
text-decoration: none;
}

#toggle-display-subjects {
margin-bottom: 0.5em;
font-size: 0.8em;
background-color: #81BEF7;
border: 0;
}

.icon-alert-warning {
color: red;
}

.icon-alert-info {
color: blue;
}

.ressources p {
margin: 0;
}

.ressources ul {
margin: 0;
}

.ressources details {
margin:0;
color: #888888;
}

.helpers p {
margin: 0;
}

.legend summary {
color: #888888;
}

.legend small {
font-size: 0.7em;
}

table {
font-size: 0.8em;
}

.visit-date {
/* font-size: 0.8em; */
}

.waiting {
color: violet !important;
}

.ongoing {
color: blue !important;
}

.completed {
color: green !important;
}

.canceled {
color: grey !important;
}

.subject-number {
position: relative;
}

.highlight-subject {
display: none;
color: #0a58ca;
position: absolute;
left: 2rem;
font-size: 1.2rem;
}

.subject-number:hover > .highlight-subject {
display: inline;
}

.subject-highlighted th,
.subject-highlighted td {
background-color: #A9F5A9 !important;
}


.subject-comment {
/* font-size: 0.8em; */
}


.display-subject-visit-survey-info {
/* font-size: 0.7em; */
color: #999999 !important;
}

/* .subject-visit-survey-info ul { */
/* /\* display: none; *\/ */
/* margin: 0; */
/* padding-left: 1em; */
/* /\* font-size: 0.8em; *\/ */
/* /\* color: #000000 !important; *\/ */
/* } */

/* .subject-other-visits ul { */
/* margin: 0; */
/* padding-left: 1em; */
/* /\* font-size: 0.8em; *\/ */
/* } */

/* .subject-other-visits li { */
/* position: relative; */
/* } */

/* .subject-other-visit-info { */
/* display: none; */
/* z-index: 1000; */
/* position: absolute; */
/* top: calc(0rem + 100%); */
/* right: 50%; */
/* transform: translateX(50%); */
/* padding: 4px; */
/* background-color: #ffffff; */
/* border: solid 1px #000000; */
/* } */

/* .subject-other-visits li:hover .subject-other-visit-info { */
/* display: inline; */
/* } */

.display-alerts-info {
/* font-size: 0.8em; */
color: #aaaaaa !important;
}

.alerts-info {
min-width: 40em;
/* font-size: 0.8em; */
}

.alerts-info .alert {
margin: 0;
padding: 4px;
}

.alerts-info ul {
margin: 0;
padding: 0;
list-style-type: none;
}

tr.bg-warning {
background-color: #fff3cd !important;
}

tr.bg-danger {
background-color: #f8d7da !important;
}

details[data-popover] > summary:focus {
outline: none;
}

details[data-popover] > summary::-webkit-details-marker {
display: none;
}

table details[data-popover] > summary {
list-style: none;
}

details[data-popover] > div > ul {
margin: 0;
padding-left: 1em;
}

details[data-popover] {
position: relative;
}
details[data-popover] > summary + * {
position: absolute;
padding: 2px;
background-color: #D8F6CE;
border: 1px solid #000000;
z-index: 1000;
}
/* details[data-popover="bottom"] > summary + * { */
/*     up: calc(0.5rem - 100%); */
/*     /\* right: 50%; *\/ */
/*     /\* transform: translateX(50%); *\/ */
/* } */
details[data-popover="up"] > summary + * {
bottom: calc(0.5rem + 100%);
/* right: 50%; */
/* transform: translateX(50%); */
}
details[data-popover="down"] > summary + * {
top: calc(0rem + 100%);
/* right: 50%; */
/* transform: translateX(50%); */
}
details[data-popover="left"] > summary + * {
right: calc(0rem + 100%);
/* bottom: 50%; */
/* transform: translateY(50%); */
}
details[data-popover="right"] > summary + * {
left: calc(0.5rem + 100%);
/* bottom: 50%; */
/* transform: translateY(50%); */
}

.alert ul {
margin: 0;
}
